canvas {
    background-color:#1d1b1d;
    max-width: 100%;
    max-height: 90vh;
    margin: 20px;
    border-radius: 15px;
}

body {
    background-color: rgb(45, 66, 99);
    display: flex;
    justify-content: center;
}